/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(./assets/fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(./assets/fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */

body {
  background: #031b34;
  padding: 0 2rem;
  overflow: auto;
}

body.oh {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
  background: url("./assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

.preloader {
  border: 8px solid #fff;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 1169px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #031b34;
}

.header .header__logo .logo__link {
  display: flex;
  align-items: center;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header .header__right.hidden {
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  visibility: hidden;
}

.header .header__right .menu__close {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.header .header__right .menu__close.hidden {
  display: none;
}

.header .header__menu .menu .menu__item .item__link {
  color: #fff;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  font-size: 16px;
}

.header .header__menu .menu .menu__item:hover .item__link {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active .item__link {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .header__burger_menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}

.header .header__burger_menu.hidden {
  display: none;
}

.header .header__burger_menu .burger_menu__line,
.header .header__right .menu__close .menu__line {
  width: 43px;
  height: 5px;
  border-radius: 2px;
  background: #fff;
}

.header .header__right .menu__close .menu__line:nth-child(1) {
  position: relative;
  top: 15px;
  right: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.header .header__right .menu__close .menu__line:nth-child(2) {
  position: relative;
  top: 10px;
  right: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  /* min-height: 60vh; */
  padding: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

/* Секция брендов */

.brands_section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(./assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
  column-gap: 3rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* Будущее наступило */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}

/* Админка */

.admin_section {
  display: flex;
  width: 100%;
  max-width: 1169px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin_section .form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.admin_section .form label {
  color: #fff;
  display: flex;
  /* column-gap: 1rem; */
  align-items: center;
}

.admin_section .form label span {
  width: 30%;
}

.admin_section .form input[type="text"] {
  width: 70%;
  padding: 12px;
}

.admin_section .form input[type="button"],
.admin_section .form input[type="submit"] {
  background: #ff4820;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  padding: 18px;
  font-size: 16px;
  color: #fff;
}

.admin_section .form input[type="button"]:hover,
.admin_section .form input[type="submit"]:hover {
  background-color: #ae67fa;
  transition: all 0.3s ease-out;
}

/* Медиа запросы для адаптива */

@media screen and (max-width: 1024px) {
  .page {
    align-content: center;
  }

  .header {
    padding: 2rem;
  }

  .header .header__logo .logo__link img {
    width: 200%;
  }

  .header .header__right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 53px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #031b34;
  }

  .header .header__menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header .header__menu .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header .header__menu .menu__close {
    position: absolute;
    right: -100px;
    top: -100px;
  }

  .header .header__menu .menu .menu__item a {
    font-size: 48px;
  }

  .hero_section {
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
    width: 90%;
  }

  .hero_section .hero_section__left {
    width: 100%;
    text-align: center;
  }

  .hero_section .hero_section__right {
    display: flex;
    justify-content: center;
  }

  .hero_section .hero_section__right img {
    width: 60%;
  }

  .hero_section .hero_section__left .left__cta_buttons {
    justify-content: center;
  }

  .what_is_chatgpt_section {
    row-gap: 4rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    flex-direction: column;
    row-gap: 1rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    row-gap: 0;
  }

  .future_here {
    column-gap: 0;
    flex-direction: column;
    row-gap: 4rem;
  }

  .future_here .future_here__left {
    row-gap: 1rem;
  }
}

@media screen and (max-width: 766px) {
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 19px;
  }

  .hero_section {
    width: 100%;
  }

  .brands_section {
    margin-top: -15px;
    padding-bottom: 0;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    flex-direction: column;
  }

  .hero_section .hero_section__right img {
    width: 85%;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: auto;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    flex-direction: column;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    row-gap: 2rem;
  }

  .what_is_chatgpt_section {
    row-gap: 3rem;
  }

  .what_is_chatgpt_section {
    margin: 6rem 0 0;
  }

  .what_is_chatgpt_section
    .what_is_chatgpt_section__bottom
    .bottom__container
    .container__content {
    line-height: 1.5;
  }
}

@media screen and (max-width: 765px) {
  a {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 19px;
  }

  .hero_section .hero_section__left .left__cta_buttons input[type="text"] {
    min-width: auto;
  }

  .future_here {
    row-gap: 3rem;
  }

  .future_here .future_here__right .right__container {
    flex-direction: column;
  }

  .future_here .future_here__right .right__container .container__header {
    width: 100%;
  }

  .future_here .future_here__right .right__container .container__content {
    width: 100%;
  }

  .future_here .future_here__right {
    row-gap: 2rem;
  }
}
